<div class="main__header shadow">
  <div class="main__left d-flex gap-4 align-items-center">
    <i class="fa fa-bars handburger" aria-hidden="true"></i>
    <div class="input-group main__search">
      <span class="input-group-text border-right-0 ext"
        ><i class="fa fa-search" aria-hidden="true"></i
      ></span>
      <input
        type="text"
        class="form-control border-left-0"
        aria-label="Amount (to the nearest dollar)"
      />
      <button type="submit" class="submit btn btn-primary">Submit</button>
    </div>
  </div>
  <div class="main__right">
    <div class="right__flex">
      <div class="search__icon">
        <i class="fa fa-search me-2 text-secondary" aria-hidden="true"></i>
      </div>
      <div class="avatar__img ms-3">
        <img src="/images/avatar-1.jpg" alt="Avatar" class="avatar" />
        <div class="avatar__text ms-2">
          <h5 class="text-secondary mb-0">Deji Richard</h5>
          <small>Admin</small>
        </div>
      </div>
    </div>
  </div>
</div>
