<div class="sidebar__container">
  <!-- <div class="sidebar__logoc mb-5">
                        <img src="./images/logo.png" alt="img.jpg" class="w-100 h-100 sidebar__logo">
                    </div> -->
  <div class="sidebar__flex__container">
    <div class="sidebar__flex">
      <div class="flex__container1">
        <h5 class="mb-3">AGENCY-TRAVEL</h5>
        <div class="d-flex gap-3 align-content-start">
          <div class="dash__icon">
            <i class="fa fa-refresh text-white" aria-hidden="true"></i>
          </div>
          <div class="w-100">
            <a href="/applications" class="text-decoration-none link">
              <h5 class="badge__container"><div>APPLICATIONS</div></h5>
            </a>
          </div>
        </div>
        <div class="d-flex gap-3 align-content-start">
          <div class="dash__icon">
            <i class="fa fa-home text-white" aria-hidden="true"></i>
          </div>
          <div class="w-100">
            <a href="/dashboard" class="text-decoration-none link active">
              <h5 class="badge__container"><div>DASHBOARD</div></h5>
            </a>
          </div>
        </div>

        <div class="d-flex gap-3 align-content-start">
          <div class="dash__icon">
            <i class="fa fa-money text-white" aria-hidden="true"></i>
          </div>
          <div class="w-100">
            <a href="payment-report" class="text-decoration-none link">
              <h5 class="badge__container"><div>PAYMENT REPORT</div></h5>
            </a>
          </div>
        </div>

        <div class="d-flex gap-3 align-content-start">
          <div class="dash__icon">
            <i class="fa fa-user text-white" aria-hidden="true"></i>
          </div>
          <div class="w-100">
            <a href="/list-of-users" class="text-decoration-none link">
              <h5 class="badge__container"><div>USER MANAGEMENT</div></h5>
            </a>
          </div>
        </div>

        <div
          class="d-flex gap-3 align-content-start"
          style="position: absolute; bottom: 250px"
        >
          <div class="dash__icon">
            <i class="fa fa-sign-out" aria-hidden="true" style="color: red"></i>
          </div>
          <div class="w-100">
            <a href="#" class="text-decoration-none link">
              <h5 class="badge__container" style="color: red">
                <div>LOGOUT</div>
              </h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
