* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.messages {
  position: absolute;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 30px auto;
}

.Successful {
  background-color: #04aa6d;
}
.Declined {
  background-color: red;
}
.flex {
  display: flex;
}
.secondSection {
  width: 50%;
  height: 100vh;
  background: url(../images/background.jpeg) no-repeat;
  background-position: 35%;
}
.firstSection {
  background-color: #002;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#regForm {
  background-color: #ffffff67;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

.sect .uploadBtn {
  position: relative;
  font-family: calibri;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #002;
  text-align: center;
  color: #002;
  margin: 10px 0;
  background-color: transparent;
  cursor: pointer;
}
h1 {
  text-align: center;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
  font-family: Raleway;
  border: 1px solid transparent;
}
.other input,
.chose input {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 5px 0;
  margin: 5px 0;
  border-bottom: 1px solid #ffffff;
}
.other .flex {
  margin: 10px 0;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
  border: 1px solid #f00;
}

/* Hide all steps by default: */
.tab {
  display: none;
  font-weight: bolder;
}
.tab p {
  font-weight: 500;
}

button {
  background-color: #04aa6d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}
